/node_modules
/dist
/umd
/docs
/.version
/NOTICES.txt
npm-debug.log*                                                                  
yarn-debug.log*                                                                 
yarn-error.log*
/.yarninstall

# vim
*.swp

# misc
.DS_Store
.env.local


